{% extends 'admin-master.html.twig' %}

{% block title %}Reports - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="/css/admin-master/reports-main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="container box">
    <div class="row">
        <div class="col-md-11 main-content border col-centered">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                    <td align="center">
                        <br>
                        <table bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" width="1020">
                            <tbody><tr>
                                <td style="padding:10px;">
                                    <table height="500" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td valign="top">

                                                <!-- Header -->

                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody><tr>
                                                        <td><img src="{{ asset('app/img/webtrix-holdings-logo.gif') }}" alt="Webtrix Holdings" border="0"></td>
                                                        <td><p class="header" style="font-size:25px;">Master Admin Area</p></td>
                                                        <td align="right"><a href="{{ path('panda86_master_d') }}">Home</a> &nbsp; </td>
                                                    </tr>
                                                    </tbody></table>
                                                <p></p>

                                                <div class="line"></div>
                                                <p class="header" align="center">Reports</p>

                                                <p>&nbsp;</p>
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                        <td width="363">&nbsp;</td>
                                                        <td width="125"><a href="{{ path('panda86_master_r_q') }}" class="mainbutton">Quarterly<br>Income</a></td>
                                                        <td width="20">&nbsp;</td>
                                                        <td width="125"><a href="{{ path('panda86_master_r_a') }}" class="mainbutton">Annual<br>Income</a></td>
                                                        <td width="362">&nbsp;</td>
                                                    </tr>
                                                    </tbody></table>

                                            </td></tr></tbody></table></td></tr></tbody></table><p class="tinytext" style="padding-top:3px;" align="center">
                        ©2004 - 2013 - Webtrix<sup>®</sup> Holdings - All Rights Reserved</p></td></tr></tbody></table>
        </div>
    </div>
</div>
{% endblock %}