{% extends 'admin-master.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
            text-align: left;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="main-content border col-md-4 col-centered">
            <h3 class="header text-center">Reset Admin Password</h3>
            <br/>
            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" role="form">
                <!-- form validation -->
                {{ form_errors(form) }}
                {{ form_widget(form._token) }}
                <div class="form-group">
                    {{ form_row(form.current_password, {'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.new, {'attr': {'class': 'form-control'} }) }}
                </div>
                <div>
                    <input class="btn btn-default" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>
            </form>
            <br/>
        </div>
    </div>
{% endblock %}